<div class="navbar row">
	<div class='navbutton col-md-2'>
		logo
	</div>
	<div class='navbutton col-md-2'>
		products
	</div>
	<div class='navbutton col-md-2'>
		terms
	</div>
	<div class='navbutton col-md-2'>
		FAQ
	</div>
	<div class='navbutton col-md-2'>
		contact
	</div>
	<div class='navbutton col-md-2'>
		find us
	</div>
</div>